@font-face {
  font-family: 'Gotham Thin';
  src: local('Gotham Thin'), local('Gotham Thin'), url('./fonts/Gotham Thin.otf') format('truetype');
  font-weight: normal; 
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');


/* Regla para que el tamaño de los bordes no cuente en los cálculos de la página */
*{ 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;     
}

body{
  margin: 0px;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: black;
  padding-left: 70px;
  padding-right: 70px;
}

.header__content{
  display: flex;
  align-items: center;
}

.header__menu{
  max-width: 30px; 
}

.header__logo{
  width: 165px;
}

.header__input-container {
  border: 1px solid #ccc; 
  border-radius: 5px;
  font-family: 'Gotham Thin', sans-serif;
  font-size: 13px;
  background-color: white;
  height: 28px;
}

.header__search{
  display: flex;
  gap: 20px;
}

.header__icon-search, .header__icon-user, .header__icon-shopping {
  height: 28px;
  padding-top: 3px;
}

nav{
  justify-content: center;
  display: flex;
  padding-top: 50px;
  padding-bottom: 40px;
}

nav ul{
  list-style-type: none; /* Quita los puntos de la lista */
  padding: 0; 
}
  
nav li{
  display: inline-block; 
}

nav a{
  text-decoration: none; /* Quita el subrayado de los enlaces */
  color: black;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; 
  margin: 0 25px;
}

.nav__active{
  color: rgb(255, 206, 56);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.section__container-carousel{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__btn-container{
  background-color: #000000;
  color:white;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; 
  font-size: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 28px;
}

.section__btn{
  display: flex;
  justify-content: center;
  padding-bottom: 99px;
  padding-top: 40px;
}

.text-container{
  display: flex;
  justify-content: center;
  align-content: center;
}

.new-products{
  color: black;
  margin-right: 122px;
  margin-left: 122px;
  padding-bottom: 30px;
}

.footer__container{
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 35px;
  padding-top: 35px;
}

p{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; 
  font-size: 15px;
  margin-top: 0px;
}

h2{
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; 
  font-size: 20px;
}

h1{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; 
  font-size: 20px;
  padding-top: 23px;
}

.footer__newsletter-container{
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer__newsletter-container input{
  padding: 7px;
  border: 1px solid #ccc; 
  border-radius: 5px;
  font-family: 'Gotham Thin', sans-serif;
  font-size: 13px;
}

.footer__menu{
  padding-top: 37px;
}

.footer__btn{
  display: flex;
  justify-content: center;
}

.footer__btn-container{
  background-color: #000000;
  color:white;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; 
  font-size: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
}

.footer__icon-ig, .footer__icon-facebook{
  height: 43px;
}

.footer__social-media{
  padding-right: 70px;
  padding-top: 35px;
}

.footer__logo{
  height: 80px;
}


/* PRODUCTS-LIST */

.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px; 
  margin-bottom: 50px;
}

.filters{
  width: 30%; 
}

.product-h1{
  color:rgb(0, 0, 0);
  padding-top: 15px;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; 
  padding-left: 65px;
  text-align: left;
}

.filters__title{
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; 
  font-size: 17px;
  padding-top: 4px;
}

.filter li{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.sizes__title, .colors__title{
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; 
  font-size: 14px;
  padding-top: 11px;
}

.sizes__list, .colors__list{
  list-style-type: none;
  padding: 10px;
  padding-right: 30px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; 
}

.sizes__square, .colors__square{
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 5px;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 2px;
}

.product-group {
  display: flex;
  flex-wrap: wrap;

}

.product-list{
  width: 55%; 
  display: flex;
}

.product{
  box-sizing: border-box;
  margin-bottom: 20px; /* Espacio entre las filas */
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-bottom: 50px;
}

.product__photo{
  height: 226px;
  width: 218px; 
  border-radius: 5px;
  border: 1px solid black;
}

.product__detail{
  display:inline-flex;
  justify-content:space-between;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 16px;
}

.product__name, .product__price{
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; 
  font-size: 19px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.product__btn{
  border-radius: 5px;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; 
  font-size: 20px;
  padding: 7px;
}



@media only screen and (max-width: 1100px){

  .header {
    padding-left: 27px;
    padding-right: 27px;
  }

  p{
    font-size: 14px;
  }

  h1 {
    font-size: 17px;
  }

  nav {
    padding-bottom: 15px;
  }

  .carousel.my-carousel {
    height: 336px;
    width: 668px;
  }

  .carousel__slide {
    background-size: cover;
  }

  .products{
    padding-bottom: 20px;
  }

  .product-h1 {
    padding-left: 45px;
  }

  .product__photo {
    height: 203px;
    width: 192px;
  }

  .product-list{
    padding-bottom: 35px;
    padding-top: 35px;
    gap: 30px;
  }

  .products__title{
    font-size: 21px;
  }

  .product__btn{
    font-size: 17px;
    padding: 3px;
  }

  .product__name, .product__price{
    font-size: 18px;
  }

  .footer__container {
    padding-left: 30px;
    padding-right: 30px;
  }

  h2 {
    font-size: 17px;
  }
  
  .footer__btn-container{
    font-size: 16px;
  }

  .footer__social-media {
    padding-right: 0px;
  }

  .footer__icon-ig, .footer__icon-facebook{
    height: 30px;
  }

  .footer__newsletter-container {
    align-items: center;
  }
} 


@media only screen and (max-width: 768px) {

  .header{
    padding-left: 35px;
    padding-right: 35px;
  }

  .header__container-icon {
    padding-left: 16px;
  }

  .header__icon-search, .header__icon-user, .header__icon-shopping {
    height: 23px;
  }

  .header__input-container {
    height: 24px;
    width: 125px;
  }

  nav a{
    font-size: 20px;
    margin: 0 14px;
  }

  .carousel.my-carousel {
    height: 239px;
    width: 497px;
  }

  .footer__container{
    padding-left: 35px;
    padding-right: 35px;
  }

  p{
    font-size: 10px;
  }

  .section__btn-container {
    font-size: 14px;
    margin-bottom: 0px;
  }

  .sizes__list, .colors__list{
    font-size: 12px;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
  }

  .product__name, .product__price {
    font-size: 18px;
  }

  h1{
    font-size: 13px;
  }

  h2 {
    font-size: 13px;
  }

  .products {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .products__container {
    padding-left: 33px;
    padding-bottom: 9px;
  } 

  .products__title{
    font-size: 17px;
    padding-left: 23px;
  }

  .product__photo {
    height: 170px;
    width: 150px;
  }

  .product-h1 {
    font-size: 21px;
    padding-left: 23px;
  }

  .footer__menu {
    padding-top: 19px;
  }

  .filters{
    width: 100%;
    margin-left: 55px;
  }

  .footer__newsletter-container input {
    height: 24px;
    width: 150px;
    font-size: 11px;
  } 

  .footer__btn-container{
    padding: 8px;
    font-size: 13px;
  }

  .footer__logo {
    height: 60px;
  }
}


@media only screen and (max-width: 600px) {

  .header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header__input-container {
    width: 65px;
    font-size: 10px;
    height: 20px;
  }

  .header__search {
    gap: 8px;
  }

  .header__icon-shopping, .header__icon-user, .header__icon-search  {
    height: 20px;
  }

  .header__logo {
    width: 135px;
  }

  .header__menu {
    max-width: 22px;
  }

  nav{
    padding-top: 25px;
    padding-bottom: 0px;
  }

  nav a {
    font-size: 14px;
    margin: 0 6px;
  }

  p {
    font-size: 11px;
  }

  h1 {
    font-size: 13px;
    text-align: center;
  }

  .carousel.my-carousel {
    height: 171px;
    width: 337px;
  }

  .filters__title {
    font-size: 13px;
  }

  .product-list {
    width: 55%;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .product-h1 {
    font-size: 14px;
    padding-left: 35px;
  }

  .product__photo {
    height: 141px;
    width: 130px;
  }

  .product__name, .product__price {
    font-size: 15px;
  }

  .product__btn {
    font-size: 15px;
    padding: 2px;
  }
  
  .footer__container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer__social-media{
    display: none;
  }  

  .footer__newsletter-container input {
    height: 18px;
    width: 100px;
  }

  .footer__btn-container {
    padding: 5px;
    font-size: 11px;
  }
}

/* CARROUSEL */
.carousel {
    height: 453px;
    width: 894px;
    overflow: hidden;
    text-align: center;
    position: relative;
    padding: 0;
    list-style: none;
    border: 3px solid black;
  }
  .carousel__controls,
  .carousel__activator {
    display: none;
  }
  .carousel__activator:nth-of-type(1):checked ~ .carousel__track {
    transform: translateX(0%);
  }
  .carousel__activator:nth-of-type(1):checked ~ .carousel__slide:nth-of-type(1) {
    transition: opacity 0.5s, transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transform: scale(1);
  }
  .carousel__activator:nth-of-type(1):checked ~ .carousel__controls:nth-of-type(1) {
    display: block;
    opacity: 1;
  }
  
  .carousel__activator:nth-of-type(2):checked ~ .carousel__track {
    transform: translateX(-100%);
  }
  .carousel__activator:nth-of-type(2):checked ~ .carousel__slide:nth-of-type(2) {
    transition: opacity 0.5s, transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transform: scale(1);
  }
  .carousel__activator:nth-of-type(2):checked ~ .carousel__controls:nth-of-type(2) {
    display: block;
    opacity: 1;
  }
  
  .carousel__activator:nth-of-type(3):checked ~ .carousel__track {
    transform: translateX(-200%);
  }
  .carousel__activator:nth-of-type(3):checked ~ .carousel__slide:nth-of-type(3) {
    transition: opacity 0.5s, transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transform: scale(1);
  }
  .carousel__activator:nth-of-type(3):checked ~ .carousel__controls:nth-of-type(3) {
    display: block;
    opacity: 1;
  }
  .carousel__control {
    height: 30px;
    width: 30px;
    margin-top: -15px;
    top: 50%;
    position: absolute;
    display: block;
    cursor: pointer;
    border-width: 5px 5px 0 0;
    border-style: solid;
    border-color: #000000;
    opacity: 0.35;
    outline: 0;
    z-index: 3;
  }
  .carousel__control:hover {
    opacity: 1;
  }
  .carousel__control--backward {
    left: 10px;
    transform: rotate(-135deg);
  }
  .carousel__control--forward {
    right: 10px;
    transform: rotate(45deg);
  }
  .carousel__track {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    transition: transform 0.5s ease 0s;
  }
  .carousel__track .carousel__slide {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
  }
  .carousel__track .carousel__slide:nth-of-type(1) {
    transform: translateX(0%);
  }
  .carousel__track .carousel__slide:nth-of-type(2) {
    transform: translateX(100%);
  }
  .carousel__track .carousel__slide:nth-of-type(3) {
    transform: translateX(200%);
  }
  .carousel--scale .carousel__slide {
    transform: scale(0);
  }
  .carousel__slide {
    height: 100%;
    position: absolute;
    overflow-y: auto;
    opacity: 0;
  }
  .carousel-container {
    display: inline-block;
  }
  .my-carousel {
    border-radius: 5px;
    margin: 30px;
  }
  .carousel__slide {
    overflow: hidden;
  }
  .carousel__slide:nth-of-type(1) {
    background-image: url("./assets/img/slider.png");
    background-size: cover;
    background-position: center;
  }
  .carousel__slide:nth-of-type(2) {
    background-image: url("./assets/img/productos.png");
    background-size: cover;
    background-position: center;
  }
  .carousel__slide:nth-of-type(3) {
    background-image: url("./assets/img/Producto.png");
    background-size: cover;
    background-position: center;
  }
